@import "reset.css";
@import "skeleton.css";
@import "font-awesome.css";
@import "superfish.css";


@import url(//fonts.googleapis.com/css?family=Open+Sans:400);
@import url(//fonts.googleapis.com/css?family=Open+Sans:600);
@import url(//fonts.googleapis.com/css?family=Open+Sans:300);

html {
	width: 100%;
    

}
a[href^="tel:"] {
 color: inherit;
 text-decoration: none;
}

* {
	-webkit-text-size-adjust: none;
}

body {    
	position: relative;
	min-width: 960px;
    background-color: #178d96ea;
    color: #bbbaba;
    font: 14px/23px Arial, Helvetica, sans-serif;
}



strong {
	font-weight: 700;
}

address {
	font-style: normal;
}

p {
	margin-bottom: 23px;
}

.p1 {
    margin-bottom: 13px;
}

input {
	 !important;
	outline: none !important;
}


img {
	max-width: 100%;
    border-radius: 1.5rem;
}



/****Heads****/


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
	color: #178d96;
}

h2 {
    font-size: 2rem;
    margin-bottom: 26px;
    line-height: 50px;
    text-transform: uppercase;
    color: #31363b;
}


h3 {
    margin-bottom: 50px;
    padding-top: 69px;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
}

h3 span {
    display: block;
}

.page1 h3 {
    padding-top: 92px;
    margin-bottom: 60px;
}

.page1 h3.head1 {
    padding-top: 59px;
    margin-bottom: 50px;
}

.page1 h3.head2 {
    padding-top: 94px;
    margin-bottom: 41px;
}

h4 {
    padding-top: 53px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 25px;
    margin-bottom: 18px;
}
/****Lists****/



ul {
	padding: 0;
	margin: 0;
	list-style: none;
    
}

/**ul.list {
}**/


ul.list li {
    font: 300 15px/35px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #178d96;
    padding-left: 32px;
    background: url(../images/marker.png) 0 13px no-repeat;
}

/**ul.list li+li {
}**/

ul.list1 {
    padding-top: 8px;
    color: #178d96;
}

ul.list1 li {
    background: url(../images/marker.png) 0 8px no-repeat;
    padding-left: 19px;
    color: #178d96;
}

ul.list1 li .text1 {
    margin-bottom: 2px;
    color: #178d96;
}

ul.list1 li+li {
    margin-top: 11px;
    color: #178d96;
}

ul.list1 li+li+li {
    margin-top: 14px;
    color: #178d96;
}

/****Links****/


a {
	text-decoration: none;
	color: inherit;
	outline: none;
	transition: 0.5s ease;
	-o-transition: 0.5s ease;
	-webkit-transition: 0.5s ease;
}

a:hover {
	color: #6f61eb;
}

a.btn {
    font: 600 15px/23px 'Open Sans', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    background-color:rgba(22, 120, 201, 0.76);
    color: #fff;
    margin-top: 35px;
    padding: 12px 20px 15px;
    border-radius: 1rem;
}

a.btn:hover {
    background-color: #178d96ea;
}

/****classes****/

.mb0 {
	margin-bottom: 0px !important;
}
.m0 {
	margin: 0 !important;
}
.pad0 {
	padding: 0 !important;
}

/*.pad1 {
} */

.img_inner {
	max-width: 100%;
    border-radius: 0.2rem;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 20px;
	margin-top: 5px;
}


.fleft {
	float: left;
	width: auto !important;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 7px;
}


.oh {
	overflow: hidden;
}
.fright {
	float: right !important;
}
.upp {
	text-transform: uppercase;
}

.alright {
	text-align: right;
}
.center {
	text-align: center;
}
.wrapper, .extra_wrapper {
	overflow: hidden;
}
.clear {
	float: none !important;
	clear: both;
}

.nowrap {
    white-space: nowrap;
}
/*header*/

header {
	display: block;
    background-color: #2600ff85;
}

.header_top {
    position: relative;
    padding-top: 68px;
}

.header_top:after {
    position: absolute;
    left: 4px;
    right: 4px;
    height: 8px;
    top: 0;
    background-color: #fff;
    display: block;
    content: '';
}

.h_phone {
    margin-top: -3px;
    float: right;
    padding-left: 48px;
    background: url(../images/phone_icon.png) 0 7px no-repeat;
    font: 15px/30px 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-right: 4px;
    color: #3e454c;
}

.h_phone span {
    margin-top: -7px;
    display: block;
    color: #fff;
    font-size: 20px;
}

header h1 {
	position: relative;
    float: left;
	text-align: center;
    margin-bottom: 65px;
}


header h1 a {
	display: inline-block;
	overflow: hidden;
	width: 292px;
    height: 59px;
	font-size: 0;
	line-height: 0;
	
	text-indent: -999px;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}
header h1 a img {
	display: block;
}

.main_color {
    background-color: #fff;
}

/**Content**/

.content {
    padding-bottom: 98px;
    position: relative;
    top: -5px;
    background-color: #fff;

}

#pag4{
    border-radius: 2rem;
}

.page1  .content {
    position: static;
    top: 0;
    padding-bottom: 100px;
}

.col1 {
    color: rgb(0, 238, 255) !important;    
}

.block1 {
    padding-top: 95px;
}

.block1 .drop1 {
    background-color: #178d96;
    width: 81px;
    height: 81px;
    color: #fff;
    margin-bottom: 36px;
    text-transform: uppercase;
    text-align: center;
    border-radius: 500px;
    font: 300 50px/74px 'Open Sans', sans-serif;
}

.block1 h3 {
    margin-bottom: 25px;
    padding-top: 0;
}
.block1 .text1 {
    margin-bottom: 8px !important;
}

.block1 a.btn {
    margin-top: 29px;
}

.text1 {
    font: 300 20px/25px 'Open Sans', sans-serif;
    color: #2c2e38;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.page1 .text1 {
    margin-bottom: 10px;
}

.gray_block {
    padding-bottom: 100px;
    background-color: #f7f7f7;
}

.gray_block h3 {
    padding-top: 92px;
    margin-bottom: 34px;
}

.gray_block img {
    width: 100%;
    margin-bottom: 25px;
    
}

.gray_block .text1 {
    margin-bottom: 10px;
}

.gray_block a.btn {
    margin-top: 27px;
}

.block2 .title {
    margin-bottom: 20px;
    text-transform: uppercase;
    font: 300 30px/25px 'Open Sans', sans-serif;
    color: #2f3338;
    position: relative;
}

.block2  .title img {
    float: left;
    position: relative;
    top: -3px;
    margin-right: 22px;
    border-radius: 500px;
    background-color: #2f3338;
}

.block2  .title span {
    display: block;
    padding-top: 6px;
    font-size: 15px;
}

.pb1 {
    padding-bottom: 97px !important;
}

.text2 {
    font: 300 15px/18px 'Open Sans', sans-serif;
    text-transform: uppercase;
    color: #2f3338;
}

.text2 {
    margin-bottom: 7px;
}

.block3 .count {
    font: 300 20px/74px 'Open Sans', sans-serif;
    width: 75px;
    height: 75px;
    text-indent: 5px;
    background-color: #4c3e3e;
    color: #fff;
    margin-top: 7px;
    text-align: center;
    display: block;
    border-radius: 500px;
    float: left;
    margin-right: 15px;
}

.block3+.block3 {
    margin-top: 26px;
}

.block3+h4 {
    padding-top: 43px;
}

.tx1 {
    margin-bottom: 3px;
}

.text2 a:hover {
    color: #3e454c;
}

.st1 .text1 {
    font-size: 15px;
    margin-bottom: 0;
    line-height: 15px;
}

.clear.cl1 {
    height: 23px;
}

.clear.cl2 {
    height: 31px;
}

.st1+.st1 {
    margin-top: 17px;
}

.col1 a:hover {
    color: #3e454c;
}

.blog {
    overflow: hidden;
}

.blog time {
    display: block;
    width: 75px;
    padding-top: 10px;
    letter-spacing: -2px;
    margin-top: 7px;
    float: left;
    margin-right: 11px;
    text-align: center;
    font: 300 40px/40px 'Open Sans', sans-serif;
    color: #fff;
    background-color: #2e343a;
    text-transform: uppercase;
}

.blog time span {
    padding-top: 4px;
    font-weight: normal;
    letter-spacing: -1px;
    display: block;
    color: #3e454c;
    font-size: 15px;
    line-height: 15px;
    border-bottom: 1px solid #3e454c;
    padding-bottom: 20px;
}

.blog time strong {
    height: 32px;
    display: block;
    border-top: 1px solid #aecf81;
    background: url(../images/comment_icon.png) center center no-repeat;
}

.links {
    overflow: hidden;
    margin-bottom: 4px;
    font: 300 15px/25px 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.blog .text1 {
    margin-bottom: 1px;
}

.links span {
    margin-top: 6px;
    color: #bbbaba;
    display: inline-block;
    margin-right: 7px;
}

.links a {
    position: relative;
    color: #3e454c;
    display: inline-block;
}

.links a:hover {
    color: #3e454c;
}

.links a+a {
    margin-left: 32px;
}

.links a+a:after {
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #cfcfcf;
    content: '';
    display: block;
    left: -16px;
    top: 7px;
}

.blog a.btn {
    margin-top: 27px;
}

.blog +.blog  {
    margin-top: 23px;
}

.col2 {
    color: #4c3e3e;
}

/**Map**/

.map {
    overflow: hidden;
    position: relative;
    padding-bottom: 3px;
}
 

.map figure {
    padding-top: 7px;
    position: relative;
	display: block;
	width: 600px;
    float: left;
    margin-right: 20px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.map figure iframe {
	width: 100%;
	height: 391px;
	max-width: 100%;
}
.map address {
    padding-top: 22px;
	display: block;
}

.map address dt {
    color: #d5eaff;
    margin-bottom: 23px;

}

 address dd span {
	min-width: 85px;
	display: inline-block;
	text-align: left;
}

.map address dd span.col1 {
	min-width: 0;
}

a.link-1 {
   color: #3e454c;
}

.map a.link-1 {
    display: inline-block;
    margin-left: 22px;
}

a.link-1:hover {
    color: #3e454c;
}



/**Footer**/

footer {
	display: block;
    padding: 0px 0 40px;
    color: #8f9caa;
    font-family: 'Open Sans', sans-serif;
}

.copy {
    padding-top: 73px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #fff;
}

.copy strong {
    font-weight: 600;
    text-transform: uppercase;
    color: #e4e9ee;
}

.socials {
    padding-top: 15px;
    overflow: hidden;
}

.socials a {
    display: block;
    border-radius: 500px;
    float: left;
    width: 34px;
    height: 34px;
    background: url(../images/socials.png) 0 0 no-repeat #2e343a;
}

.socials a:hover {
    background-color: #3e454c;
}

.socials a+a {
    background-position: -43px 0;
    margin-left: 9px;
}

.socials a+a+a {
    background-position: -86px 0;
}

.socials a+a+a+a {
    background-position: right 0;
}
footer address {
    position: relative;
    padding-left: 47px;
    padding-top: 77px;
    text-transform: uppercase;
    font-size: 15px;
    color: #fff;
    line-height: 17px;
}

footer address img {
    position: absolute;
    left: 0;
    top: 80px;
}

footer address span{
    display: block;
    margin-bottom: 3px;
}

#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 40px;
    left: 51%;
    margin-left: 500px;
    overflow: hidden;
    width: 58px;
    height: 58px;
    border: none;
    text-indent: -999px;
    z-index: 20;
    background: url(../images/totop.png) no-repeat left 0;
    transition: 0s ease;
    -o-transition: 0s ease;
    -webkit-transition: 0s ease;
}
#toTop:hover {
    outline: none;
    background-position: right 0;
}

/*==================================RESPONSIVE LAYOUTS===============================================*/

@media only screen and (max-width: 1520px) {
.camera_pag {
    left: auto;
    margin-left: 0;
    margin-right: -470px;
    right: 50%;
}
}

@media only screen and (max-width: 995px) {
 body {
 min-width: 768px;
}

.block3 .extra_wrapper {
    overflow: hidden;
}

.caption {
   margin-left: -374px;
}


.caption p {
    display: none;
}

h2 {
    font-size: 50px;
    line-height: 52px;
}

h2 span {
    display: block;
}

.camera_pag {
      margin-right: -374px;

}

 .map figure,  .map figure iframe,  #form input,  #form textarea,  #form .success {
 width: 100% !important;
 float: none !important;
}
 #form .success {
 -moz-box-sizing: border-box;
 -webkit-box-sizing: border-box;
 -o-box-sizing: border-box;
 box-sizing: border-box;
}
 .map figure {
 height: auto !important;
}
 .extra_wrapper {
 overflow: visible;
}

.map figure {
	margin-bottom: 15px;
}

.nowrap {
    white-space: normal;
}
}


@media only screen and (max-width: 767px) {
body {
    min-width: 420px;
}

.h_phone {
    margin-top: 20px;
    float: none;
    margin-bottom: 30px;
}

h2 {
    font-size: 30px;
    line-height: 35px;
}

.caption {
   margin-left: -200px;
}

.camera_pag {
      margin-right: -200px;

}

.block2 {
    padding-top: 30px;
}

#newsletter {
    padding-top: 20px;
}

#newsletter a {
    margin-top: 30px;
}

.st1 {
    margin-top: 17px;
}

.map address +address {
    margin-left: 0;
    float: none;
    margin-top: 20px;
}

header h1 {
	display: block;
	width: auto;
    position: relative;
	height: auto;
    margin-bottom: 20px;
}

.img_inner {
    width: 100% !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 20px !important;
}

h1 a {
	max-width: 90%;
}

.img_inner img {
	width: 100%;
}

header h1 {
    float: none;
    text-align: center;
}

header h1 a {
 	width: auto;
 	display: inline-block;
    height: auto;
}


 .map {
 	padding-right: 0px !important;
 }

 .map figure iframe {
 width: 100%;
 height: 300px;
}
 .map address {
 	margin-right: 0;
}

.content .noresize {
 width: auto !important;
 float: left !important;
 margin-right: 20px !important;
 margin-top: 4px !important;
}

 .img_inner {
 margin-top: 30px;
}

.map address {
    float: none;
}

}

@media only screen and (max-width: 479px) {
 body {
 min-width: 300px;
}


h2 {
    font-size: 30px;
    line-height: 35px;
}

.caption {
   margin-left: -150px;
}

.camera_pag {
      margin-right: -150px;

}

}
